<div class="col-lg-12 col-xlg-9 col-md-7">
  <div class="card">
      <div class="card-body">
          <form class="form-horizontal form-material">
              <div class="form-group">
                  <label class="col-md-12">Seleccione el cliente <b>*</b></label>
                  <div class="col-sm-12">
                      <select class="form-control form-control-line">
                          <option>London</option>
                          <option>India</option>
                          <option>Usa</option>
                          <option>Canada</option>
                          <option>Thailand</option>
                      </select>
                  </div>
              </div>
              <div class="form-group">
                  <label for="example-email" class="col-md-12">Nombre del esporadico</label>
                  <div class="col-md-12">
                      <input type="text" placeholder="" class="form-control form-control-line" name="nomEsporadico" >
                  </div>
              </div>
              <div class="form-group">
                  <label for="example-email" class="col-md-12">Fecha de la visita <b>*</b></label>
                  <div class="col-md-12">
                      <input type="date" placeholder="" class="form-control form-control-line" name="fvisita" >
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-12">Objetivo Principal de la visita <b>*</b></label>
                  <div class="col-sm-12">
                      <select class="form-control form-control-line">
                          <option>Cobro de cartera</option>
                          <option>Toma de pedido</option>
                          <option>Capacitación</option>
                          <option>Reunion comercial</option>
                          
                      </select>
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-md-12">Situación de la zona <b>*</b></label>
                  <div class="col-md-12">
                      <textarea rows="5" class="form-control form-control-line"></textarea>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-12">Situación de la competencia <b>*</b></label>
                  <div class="col-md-12">
                      <textarea rows="5" class="form-control form-control-line"></textarea>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-12">Reporte de la visita <b>*</b></label>
                  <div class="col-md-12">
                      <textarea rows="5" class="form-control form-control-line"></textarea>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-sm-12">
                      <button class="btn btn-success btn-lg btn-block">Registrar visita</button>
                  </div>

              </div>
              <div class="form-group">
                    <div class="col-sm-12">
                            <button class="btn btn-dark btn-lg btn-block">Ver registros de visita</button>
                    </div>
              </div>

          </form>
      </div>
  </div>
</div>